<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button (click)="loadContacts()" expand="full">Load Contacts</ion-button>
  <ion-button (click)="createContact()" expand="full">Create Contact</ion-button> -->

  <ion-list>
    <ion-item-sliding *ngFor="let c of myContacts">
      <ion-item>
        <ion-label>{{ c.name.givenName }} <b>{{ c.name.familyName }}</b>
          <p>
            {{ c.phoneNumbers[ 0 ].value }}
          </p>
        </ion-label>
        <ion-checkbox [ngIf]="chkboxShow" slot="end" [(ngModel)]="c.isChecked"></ion-checkbox>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

</ion-content>

